:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* No track background */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Subtle dark color */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3); /* Slightly darker on hover */
}

/* Hide scrollbar in idle state like MacBook */
::-webkit-scrollbar-thumb:vertical {
  transition: opacity 0.3s;
  opacity: 0;
}

:hover::-webkit-scrollbar-thumb:vertical {
  opacity: 1;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}